#wrap{
	width: 971px; /*1024*768 해상도에 맞추어 설계*/
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}
h1{
	color: green;
}
table{
	width: 100%;
	border-collapse: collapse;
	font-size:12px;
	line-height: 24px;
}
table td, th{
	border: #d3d3d3 solid 1px;	/* 경계선 색상 스타일 굵기*/
	padding: 5px;
}
th{
	background: yellowgreen;
}
img{
	width: 200px;
	height: 300px;
}
a{
	text-decoration:none;	/*링크 밑줄 엎애기*/
	color:black;
}
a:HOVER{
	text-decoration:underline;
	color:green;
}